/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 body{
 	background-color: #D0D0E0;
    font-family: 'Poppins', sans-serif;
 }

 nav{
 	background-color: #9090C0;
 	border-color: #8383C1;
    border-style: transparent;
 }

 #abt{
 	background-color: #9090C0;
 	border-color: #D0D0E0;
    border-style: transparent;
 }

 #foot{
 	background-color: #606090;
 	border-color: #8383C1;
    border-style: transparent;
 }